---
import Header from '@components/Header.astro';
import Layout from 'src/layouts/Layout.astro';
const currentPath = Astro.url.pathname;
console.log(currentPath, 'currentPath');
---

<Layout
  title="Arjwan - Cargo & Shipping"
  description="Whether you have a question about transport, logistics, pricing details, experience, or delivery details please contact us using the form and the other information on this page."
>
  <Header />
  <div class="about-us-banner">
    <div class="container w-container">
      <div>
        <div class="subtitle-wrap-dark">
          <div class="subtitle-border"></div>
          <p class="subtitle-dark">About Us</p>
        </div>
        <h1 class="page-title">About Our Logistics</h1>
      </div>
    </div>
  </div>
  <div class="about-us-section">
    <div class="container-medium w-container">
      <div class="w-layout-grid about-us-grid">
        <div id="w-node-_039cf7cf-262b-77d9-34dd-4f82af481942-0a804130" class="about-image-wrap">
          <img
            src="images/about-image-1.jpg"
            width="1307"
            alt="Truck"
            sizes="(max-width: 479px) 100vw, (max-width: 991px) 95vw, (max-width: 1439px) 97vw, 1307px"
            data-w-id="f05be6a8-d216-aa3c-1d27-253a23a1af45"
            loading="lazy"
            srcset="images/about-image-1-p-500.jpg 500w, images/about-image-1.jpg 726w"
          />
          <div class="about-separate-image">
            <img
              src="images/about-image-2_1.jpg"
              loading="lazy"
              data-w-id="91238f5a-6eed-2770-140a-5e1c2e814575"
              alt="Courier Boy"
            />
          </div>
        </div>
        <div id="w-node-_591a093e-5758-b28c-4939-1c8b115d6a5a-0a804130">
          <div class="subtitle-wrap">
            <div class="subtitle-border"></div>
            <p class="subtitle">About Us</p>
          </div>
          <h2 class="section-title">Our Company Overview</h2>
          <p>
            At Al Arjwan, we don't just move cargo; we move dreams, ambitions, and opportunities. With a legacy of
            excellence, we're more than a logistics company; we're your partners in progress.
          </p>
          <div
            data-w-id="1fc23173-7701-9bd2-b0c1-69ce864d8e53"
            data-current="Tab 1"
            data-easing="ease"
            data-duration-in="300"
            data-duration-out="100"
            class="w-tabs"
          >
            <div class="about-us-button-wrap w-tab-menu">
              <a data-w-tab="Tab 1" class="about-us-button w-inline-block w-tab-link w--current">
                <div>Our Vision</div>
              </a>
              <a data-w-tab="Tab 2" class="about-us-button w-inline-block w-tab-link">
                <div>Our Goal</div>
              </a>
              <a data-w-tab="Tab 3" class="about-us-button w-inline-block w-tab-link">
                <div>Our Mission</div>
              </a>
            </div>
            <div class="w-tab-content">
              <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                <p>
                  Our vision is to ignite global connectivity, fostering transformative growth and seamless trade world-
                  wide, as we continue to pioneer innovations that re- define the logistics landscape.
                </p>
              </div>
              <div data-w-tab="Tab 2" class="w-tab-pane">
                <p>
                  Whether you&#x27;ve been shipping for years, or this is your first time crossing a new border, there
                  are shipments  to book, customs to clear and warehouses to manage. We&#x27;re with you every step of
                  the way.
                </p>
              </div>
              <div data-w-tab="Tab 3" class="w-tab-pane">
                <p>
                  Our mission is to drive your success through tailored logistics solutions that consistently exceed
                  expecta- tions. With an unwavering commitment to excel- lence, we aim to set new benchmarks in the
                  industry.
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="mg-top-30">
            <a data-w-id="7271dd6b-5469-c7a4-dd75-4332060ea60d" href="/service/"
              class="dark-overlay-button w-inline-block">
              <div>Learn More</div>
              <div
                style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="dark-button-hover"></div>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="about-service-section">
    <div class="container w-container">
      <div class="align-center">
        <div class="subtitle-wrap">
          <div class="subtitle-border"></div>
          <p class="subtitle">What We Do</p>
        </div>
        <h2 class="section-title">Our Logistics Services</h2>
      </div>
      <div class="mg-top-30">
        <div class="w-layout-grid about-service-grid">
          <div id="w-node-ebeb8b7f-77c3-0e03-06d6-b4e438d41fa6-0a804130" class="about-service-wrap">
            <div class="service-icon-wrap"><img src="images/ship-icon.svg" loading="lazy" alt="Ship Icon" /></div>
            <div class="mg-top-20">
              <a href="/service-single/" class="service-title">Sea Freight</a>
            </div>
            <div class="mg-top-10">
              <p>
                Wherever your cargo is going, we can arrange the shipment for you and remain competitive with the
                business market.
              </p>
            </div>
          </div>
          <div id="w-node-_622126a5-bbc8-cbfe-e37b-820895de15ba-0a804130" class="about-service-wrap">
            <div class="service-icon-wrap">
              <img src="images/warehouse-icon.svg" loading="lazy" alt="Ship Icon" />
            </div>
            <div class="mg-top-20">
              <a href="/service-single/" class="service-title">Warehousing Services</a>
            </div>
            <div class="mg-top-10">
              <p>
                We have buildings that can provide you with distribution, storage, inventory management, order
                fulfilment services.
              </p>
            </div>
          </div>
          <div id="w-node-c48bec76-fd0b-2589-7b0f-f3a6f9e8e15f-0a804130" class="about-service-wrap">
            <div class="service-icon-wrap"><img src="images/flight-icon.svg" loading="lazy" alt="Ship Icon" /></div>
            <div class="mg-top-20">
              <a href="/service-single/" class="service-title">Air freight Services</a>
            </div>
            <div class="mg-top-10">
              <p>
                We&#x27;re partners with airlines and freight forwarders to offer seamless air freight solutions to the
                clients all over the world.
              </p>
            </div>
          </div>
          <div id="w-node-_079b90e5-3ba3-8377-1ce5-7fc1a64bfbe5-0a804130" class="about-service-wrap">
            <div class="service-icon-wrap">
              <img src="images/exhibition-icon.svg" loading="lazy" alt="Ship Icon" />
            </div>
            <div class="mg-top-20">
              <a href="/service-single/" class="service-title">Network &amp; Route</a>
            </div>
            <div class="mg-top-10">
              <p>
                Our transportation strategy experts identify the most compelling transportation a roadmap of the
                process, organization.
              </p>
            </div>
          </div>
          <div id="w-node-e25acdcb-dd84-1e02-921f-73a8cc28cbf0-0a804130" class="about-service-wrap">
            <div class="service-icon-wrap"><img src="images/van-icon.svg" loading="lazy" alt="Ship Icon" /></div>
            <div class="mg-top-20">
              <a href="/service-single/" class="service-title">Local Shipping Services</a>
            </div>
            <div class="mg-top-10">
              <p>
                We work close with strategic partners to ensure our domestic trucking offers clients everything they
                need in their place.
              </p>
            </div>
          </div>
          <div id="w-node-_0e793ff3-3df1-8216-33e1-eafb681c02ea-0a804130" class="about-service-wrap">
            <div class="service-icon-wrap"><img src="images/user-icon.svg" loading="lazy" alt="Ship Icon" /></div>
            <div class="mg-top-20">
              <a href="/service-single/" class="service-title">custom clearance</a>
            </div>
            <div class="mg-top-10">
              <p>
                Certified aerospace logistics expertise and technology that transforms your supply chain, while keeping
                your downtime time down.
              </p>
            </div>
          </div>
        </div>
        <div class="mg-top-40">
          <div data-w-id="0ca0ca99-ff07-72b7-68b3-5c3d1555de0e" class="align-center">
            <a
              data-w-id="8605ca34-620f-4623-1a99-163a4a2a1aad"
              href="/service/"
              class="dark-overlay-button w-inline-block dark-overlay-button-s"
            >
              <div>More Work</div>
              <div
                style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="dark-button-hover"
              >
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="home-team-section">
    <div class="container w-container">
      <div class="align-center">
        <div class="subtitle-wrap">
          <p class="subtitle">The Transporters</p>
          <div class="subtitle-border"></div>
        </div>
        <h2 class="section-title">Meet Expert Team</h2>
      </div>
      <div class="mg-top-40">
        <div class="w-layout-grid home-team-grid">
          <div id="w-node-_49057069-77e6-5a18-d505-6574313256d0-0a804130" class="team-card"><img
              src="images/team-image-1.jpg" loading="lazy" width="662" alt="Team Image">
            <div class="team-content-wrap">
              <h3 class="author-name text-white">Helen Wilmore</h3>
              <p class="team-member-designation">Warehouse Head</p>
            </div>
            <div class="social-media-wrap">
              <a href="http://www.twitter.com" target="_blank" class="team-social-link w-inline-block"><img
                  src="images/twitter-icon.svg" loading="lazy" alt="Twitter Icon" class="social-icon"></a>
              <a href="http://www.facebook.com" target="_blank" class="team-social-link w-inline-block"><img
                  src="images/facebook-icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon"></a>
              <a href="http://www.instagram.com" target="_blank" class="team-social-link w-inline-block"><img
                  src="images/instagram-icon.svg" loading="lazy" alt="Instagram Icon" class="social-icon"></a>
            </div>
          </div>
          <div id="w-node-_49057069-77e6-5a18-d505-6574313256de-0a804130" class="team-card"><img
              src="images/team-image-2.jpg" loading="lazy" width="595" alt="Team Image">
            <div class="team-content-wrap">
              <h3 class="author-name text-white">Anthony Wills</h3>
              <p class="team-member-designation">Transport Manager</p>
            </div>
            <div class="social-media-wrap">
              <a href="http://www.linkedin.com" target="_blank" class="team-social-link w-inline-block"><img
                  src="images/linedin-icon.svg" loading="lazy" alt="LinkedIn Icon" class="social-icon"></a>
              <a href="http://www.twitter.com" target="_blank" class="team-social-link w-inline-block"><img
                  src="images/twitter-icon.svg" loading="lazy" alt="Twitter Icon" class="social-icon"></a>
              <a href="http://www.facebook.com" target="_blank" class="team-social-link w-inline-block"><img
                  src="images/facebook-icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon"></a>
              <a href="http://www.instagram.com" target="_blank" class="team-social-link w-inline-block"><img
                  src="images/instagram-icon.svg" loading="lazy" alt="Instagram Icon" class="social-icon"></a>
            </div>
          </div>
          <div id="w-node-_49057069-77e6-5a18-d505-6574313256ee-0a804130" class="team-card"><img
              src="images/team-image-3.jpg" loading="lazy" width="724" alt="Team Image">
            <div class="team-content-wrap">
              <h3 class="author-name text-white">Kate Winslot</h3>
              <p class="team-member-designation">Cargo head</p>
            </div>
            <div class="social-media-wrap">
              <a href="http://www.facebook.com" target="_blank" class="team-social-link w-inline-block"><img
                  src="images/facebook-icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon"></a>
              <a href="http://www.instagram.com" target="_blank" class="team-social-link w-inline-block"><img
                  src="images/instagram-icon.svg" loading="lazy" alt="Instagram Icon" class="social-icon"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="about-testimonial-section">
    <div class="container overflow-hidden w-container">
      <div>
        <div class="subtitle-wrap">
          <p class="subtitle">Testimonial</p>
          <div class="subtitle-border"></div>
        </div>
        <h2 class="section-title">What Our Customer Say</h2>
      </div>
      <div class="mg-top-40">
        <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false"
          data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
          data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="testimonial-mask w-slider-mask">
            <div data-w-id="27b243ec-9f15-4442-2023-9618842c5afa" class="testimonial-slide w-slide">
              <div style="background-color:rgb(9,18,66)" class="about-testimonial-card">
                <div class="testimonial-top-wrap">
                  <div class="testimonial-author-wrap">
                    <div class="author-image-wrap"><img src="images/author-image-1.jpg" loading="lazy" width="91"
                        alt="Author Image" class="author-image"></div>
                    <div>
                      <h3 style="color:rgb(255,255,255)" class="author-name">David Malan</h3>
                      <p style="color:rgb(255,255,255)" class="author-designation">Fuel Company</p>
                    </div>
                  </div>
                  <div class="testimonial-icon-wrap yellow-gradient"><img src="images/quote-icon.svg" loading="lazy"
                      alt="Blockquote Icon"></div>
                </div>
                <p style="color:rgb(255,255,255)" class="testimonial-text">We are so happy with everything that the
                  logistics group has done for us. They have excellent delivery to North-Eastern region of united
                  states. I highly recommend them! Superb communication, pick up and delivery right on time.</p>
                <div class="testimonial-rating-wrap"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                    src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img src="images/star-icon.svg"
                    loading="lazy" alt="Star Icon"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                    src="images/star-icon.svg" loading="lazy" alt="Star Icon"></div>
              </div>
            </div>
            <div data-w-id="27b243ec-9f15-4442-2023-9618842c5b0f" class="testimonial-slide w-slide">
              <div style="background-color:rgb(9,18,66)" class="about-testimonial-card">
                <div class="testimonial-top-wrap">
                  <div class="testimonial-author-wrap">
                    <div class="author-image-wrap"><img src="images/author-image-2.jpg" loading="lazy" width="91"
                        alt="Author Image" class="author-image"></div>
                    <div>
                      <h3 style="color:rgb(255,255,255)" class="author-name">Clifford Stratton</h3>
                      <p style="color:rgb(255,255,255)" class="author-designation">Restoration Company</p>
                    </div>
                  </div>
                  <div class="testimonial-icon-wrap yellow-gradient"><img src="images/quote-icon.svg" loading="lazy"
                      alt="Blockquote Icon"></div>
                </div>
                <p style="color:rgb(255,255,255)" class="testimonial-text">Providers of personal safety, comfort, and
                  protection products for the outdoor enthusiast It has been our experience that Classic Transportation
                  is in an elite group of full line transportation providers.</p>
                <div class="testimonial-rating-wrap"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                    src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img src="images/star-icon.svg"
                    loading="lazy" alt="Star Icon"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                    src="images/star-icon.svg" loading="lazy" alt="Star Icon"></div>
              </div>
            </div>
            <div data-w-id="4d59bb17-2a2c-f627-c627-8343ec5d5f28" class="testimonial-slide w-slide">
              <div style="background-color:rgb(9,18,66)" class="about-testimonial-card">
                <div class="testimonial-top-wrap">
                  <div class="testimonial-author-wrap">
                    <div class="author-image-wrap"><img src="images/author-image-3_1author-image-3.jpg" loading="lazy"
                        alt="Author Image" class="author-image"></div>
                    <div>
                      <h3 style="color:rgb(255,255,255)" class="author-name">Kathy Taylor</h3>
                      <p style="color:rgb(255,255,255)" class="author-designation">Rapids Industrial Products</p>
                    </div>
                  </div>
                  <div class="testimonial-icon-wrap yellow-gradient"><img src="images/quote-icon.svg" loading="lazy"
                      alt="Blockquote Icon"></div>
                </div>
                <p style="color:rgb(255,255,255)" class="testimonial-text">We have been using Logistics Transportation
                  for several years for our Logistic moves to some of our biggest customers. They have been very
                  reliable and have provided great service to ourselves and to our customers.</p>
                <div class="testimonial-rating-wrap"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                    src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img src="images/star-icon.svg"
                    loading="lazy" alt="Star Icon"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                    src="images/star-icon.svg" loading="lazy" alt="Star Icon"></div>
              </div>
            </div>
          </div>
          <div data-w-id="27b243ec-9f15-4442-2023-9618842c5b24" style="background-color:rgb(255,190,52)"
            class="testimonial-left-arrow-wrap w-slider-arrow-left">
            <div class="hide w-icon-slider-left"></div><img
              src="images/testimonial-left-arrow_1testimonial-left-arrow.png" loading="lazy" style="filter:invert(0%)"
              alt="Arrow" class="testimonial-left-arrow">
          </div>
          <div data-w-id="27b243ec-9f15-4442-2023-9618842c5b27" style="background-color:rgb(255,190,52)"
            class="testimonial-right-arrow-wrap w-slider-arrow-right">
            <div class="hide w-icon-slider-right"></div><img
              src="images/testimonial-right-arrow_1testimonial-right-arrow.png" loading="lazy" style="filter:invert(0%)"
              alt="Arrow Icon" class="testimonial-right-arrow">
          </div>
          <div class="hide w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="pricing-section">
    <div class="container w-container">
      <div class="align-center">
        <div class="subtitle-wrap">
          <p class="subtitle">Pricing</p>
          <div class="subtitle-border"></div>
        </div>
        <h2 class="section-title">Our Best Pricing</h2>
      </div>
      <div class="mg-top-60">
        <div class="w-layout-grid pricing-grid">
          <div id="w-node-a9b390eb-056b-fc6d-6adb-e76a3f8637e2-0a804130"
            data-w-id="a9b390eb-056b-fc6d-6adb-e76a3f8637e2" style="background-color:rgb(244,244,244);opacity:0"
            class="pricing-card">
            <h3 style="color:rgb(28,31,53)" class="pricing-standard-text">Basic</h3>
            <div class="pricing-price-wrap">
              <p style="color:rgb(28,31,53)" class="pricing-price">$39</p>
              <p style="color:rgb(28,31,53)" class="pricing-month-text">/month</p>
            </div>
            <div class="pricing-points-wrap">
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Single Truck</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Full Insurance</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">500 Km</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Real-time rate shopping</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
            </div>
            <div class="mg-top-40">
              <a data-w-id="ddc01bf0-20c5-207c-192a-89fe0951c70e"
                style="color:rgb(255,255,255);background-color:rgb(9,18,66)" href="/pricing/"
                class="dark-overlay-button w-inline-block">
                <div>Choose Plan</div>
                <div
                  style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);background-color:rgb(31,42,105)"
                  class="dark-button-hover"></div>
              </a>
            </div>
          </div>
          <div id="w-node-f3ff369c-b73c-9ddc-b68c-7aa712def481-0a804130"
            data-w-id="f3ff369c-b73c-9ddc-b68c-7aa712def481" style="background-color:rgb(244,244,244);opacity:0"
            class="pricing-card">
            <h3 style="color:rgb(28,31,53)" class="pricing-standard-text">Standard</h3>
            <div class="pricing-price-wrap">
              <p style="color:rgb(28,31,53)" class="pricing-price">$59</p>
              <p style="color:rgb(28,31,53)" class="pricing-month-text">/month</p>
            </div>
            <div class="pricing-points-wrap">
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Double Truck</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Full Insurance</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">1000 Km</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Real-time rate shopping</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
            </div>
            <div class="mg-top-40">
              <a data-w-id="f3ff369c-b73c-9ddc-b68c-7aa712def498"
                style="color:rgb(255,255,255);background-color:rgb(9,18,66)" href="/pricing/"
                class="dark-overlay-button w-inline-block">
                <div>Choose Plan</div>
                <div
                  style="background-color:rgb(31,42,105);-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  class="dark-button-hover"></div>
              </a>
            </div>
          </div>
          <div id="w-node-_24dc20ec-4537-85db-f7ba-74f646c7636f-0a804130"
            data-w-id="24dc20ec-4537-85db-f7ba-74f646c7636f" style="background-color:rgb(244,244,244);opacity:0"
            class="pricing-card">
            <h3 style="color:rgb(28,31,53)" class="pricing-standard-text">Premium</h3>
            <div class="pricing-price-wrap">
              <p style="color:rgb(28,31,53)" class="pricing-price">$89</p>
              <p style="color:rgb(28,31,53)" class="pricing-month-text">/month</p>
            </div>
            <div class="pricing-points-wrap">
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Double Truck</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Full Insurance</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Unlimited</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
              <p style="color:rgb(28,31,53)" class="pricing-points">Real-time rate shopping</p>
              <div style="background-color:rgb(214,214,214)" class="pricing-points-line"></div>
            </div>
            <div class="mg-top-40">
              <a data-w-id="24dc20ec-4537-85db-f7ba-74f646c76386"
                style="color:rgb(255,255,255);background-color:rgb(9,18,66)" href="/pricing/"
                class="dark-overlay-button w-inline-block">
                <div>Choose Plan</div>
                <div
                  style="background-color:rgb(31,42,105);-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  class="dark-button-hover"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="about-faq-section">
    <div class="container w-container">
      <div class="w-layout-grid about-faq-grid">
        <div id="w-node-b3ca26d7-d43a-c63e-6b75-9c0b29411c28-0a804130">
          <div class="about-faq-title-wrap">
            <div class="subtitle-wrap">
              <p class="subtitle">FAQ</p>
              <div class="subtitle-border"></div>
            </div>
            <h2 class="section-title">Frequently Asked Questions</h2>
          </div>
          <div
            data-hover="false"
            data-delay="0"
            data-w-id="fa33f1e2-811e-fc4c-e7ac-76ab0696656e"
            class="faq-wrap w-dropdown"
          >
            <div class="faq-question-wrap w-dropdown-toggle">
              <div
                style="color:rgb(28,31,53);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
                class="faq-icon w-icon-dropdown-toggle"
              >
              </div>
              <div class="faq-question">What warranties do I have for my shipments?</div>
            </div>
            <nav style="height:0px;opacity:0;" class="faq-answer-wrap w-dropdown-list">
              <div>
                <p>
                  Logistics operates under country-specific freight forward industry terms. We are members of Logistics
                  and Freight Association. Logistics can also offer specific insurance cover on request.
                </p>
              </div>
            </nav>
          </div>
          <div
            data-hover="false"
            data-delay="0"
            data-w-id="c9f7a0df-44fd-07eb-6f05-bd61e3c92937"
            class="faq-wrap w-dropdown"
          >
            <div class="faq-question-wrap w-dropdown-toggle">
              <div
                style="color:rgb(28,31,53);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
                class="faq-icon w-icon-dropdown-toggle"
              >
              </div>
              <div class="faq-question">What is mandatory communication fee?</div>
            </div>
            <nav style="height:0px;opacity:0;" class="faq-answer-wrap w-dropdown-list">
              <div>
                <p>
                  The obligatory communication fee includes the basic entries in the online exhibitor directory and in
                  the visit planner (see basic entries) as well as entry options in the online sections press and
                  exhibitor event calendars.
                </p>
              </div>
            </nav>
          </div>
          <div
            data-hover="false"
            data-delay="0"
            data-w-id="dee8b1e7-5f26-6ce8-85a3-d8b5499c35e9"
            class="faq-wrap w-dropdown"
          >
            <div class="faq-question-wrap w-dropdown-toggle">
              <div
                style="color:rgb(28,31,53);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
                class="faq-icon w-icon-dropdown-toggle"
              >
              </div>
              <div class="faq-question">What options for logistics plans are available?</div>
            </div>
            <nav style="height:0px;opacity:0;" class="faq-answer-wrap w-dropdown-list">
              <div>
                <p>
                  Possibly the most important part of your logistics partnership is having confidence that your provider
                  has a firm grasp on your business requirements.
                </p>
              </div>
            </nav>
          </div>
          <div
            data-hover="false"
            data-delay="0"
            data-w-id="befa9bb0-fa5a-27ab-12c5-e3e6b7bd843e"
            class="faq-wrap w-dropdown"
          >
            <div class="faq-question-wrap w-dropdown-toggle">
              <div
                style="color:rgb(28,31,53);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
                class="faq-icon w-icon-dropdown-toggle"
              >
              </div>
              <div class="faq-question">Can i specify a delivery date when ordering?</div>
            </div>
            <nav style="height:0px;opacity:0;" class="faq-answer-wrap w-dropdown-list">
              <div>
                <p>
                  Beyond all the service details and industry experience, you also want a supplier who does business in
                  a way that aligns with your own company&#x27;s culture.
                </p>
              </div>
            </nav>
          </div>
        </div>
        <div id="w-node-_27e2810b-edfd-8ddf-dc4e-8932294d6323-0a804130" class="faq-contact-block">
          <div class="subtitle-wrap-transparent">
            <div class="subtitle-border"></div>
            <p class="subtitle-dark">Let’s Talk</p>
          </div>
          <h3 class="faq-contact-title">You Need Any Help? Get Free Consultation</h3>
          <div class="mg-top-20">
            <!-- <div class="header-link-card">
              <div class="header-icon-wrap"><img src="images/phone-icon-white.svg" loading="lazy" alt="Phone Icon">
              </div>
              <div>
                <p class="header-link-text">Have Any Questions </p>
                <a href="tel:(00)123456789" class="header-link-text hover-yellow">(00) 123 456 789</a>
              </div>
            </div> -->
          </div>
          <div class="mg-top-30">
            <a
              data-w-id="bfbbbc10-5615-5ce9-ef25-7f76925e23d1"
              href="/contact-us/"
              class="yellow-overlay-button w-inline-block"
            >
              <div>Contact Us</div>
              <div
                style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="yellow-button-hover"
              >
              </div>
            </a>
          </div>
          <div class="about-faq-bg">
            <img
              src="images/about-faq-bg-image.jpg"
              loading="lazy"
              width="697"
              sizes="(max-width: 991px) 100vw, 697px"
              alt="Taxi "
              srcset="images/about-faq-bg-image-p-500.jpg 500w, images/about-faq-bg-image.jpg 682w"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="about-faq-bg-color"></div>
  </div>
  <div class="about-partner-section">
    <div class="container w-container logo-container">
      <div class="slider">
        <div class="slide-track2">
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p1.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p2.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p3.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p4.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p5.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p6.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p7.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p8.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p9.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p10.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p11.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p12.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p13.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="footer-shade-bg"></div>

    <div class="container w-container">
      <div class="w-layout-grid footer-grid">
        <div
          id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed72-1185ed6e"
          data-w-id="1a03c1d7-10ce-f356-ab94-97121185ed72"
          class="footer-content-wrap"
        >
          <a
            id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed73-1185ed6e"
            href="/"
            aria-current="page"
            class="footer-logo-wrap f-logo w-inline-block w--current"
          >
            <img src="images/Logo.png" loading="lazy" alt="Logistics Logo" class="w-[7rem]" />
          </a>
          <div class="footer-content-block fb1">
            <p class="footer-text">
              To be the industry leader, globally recognized for effective &amp; efficient solutions. To provide
              innovative solutions delivering quality, excellence and speed.
            </p>
            <div class="footer-contact-link-wrap">
              <div class="header-link-card">
                <div class="header-icon-wrap">
                  <img src="images/mail-icon-yellow.svg" loading="lazy" alt="Mail Icon" />
                </div>
                <div>
                  <p class="header-link-text">Email</p>
                  <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">lisan@arjwanoman.com</a>
                  <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">adnan@arjwanoman.com</a>
                  <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">mohd@arjwanoman.com</a>
                </div>
              </div>
              <div class="header-link-card">
                <div class="header-icon-wrap">
                  <img src="images/phone-icon-yellow.svg" loading="lazy" alt="Phone Icon" />
                </div>
                <div>
                  <p class="header-link-text">Call Us</p>
                  <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113157</a>
                  <br />
                  <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113159</a>
                  <br />
                  <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113184</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed89-1185ed6e" class="footer-link-wrap">
          <div class="footer-title-wrap">
            <h3 class="footer-title">Pages</h3>
          </div>
          <div class="footer-link-block">
            <a href="/about-us/" class="footer-link">About Us</a>
            <a href="/contact-us/" class="footer-link">Contact</a>
            <a href="/service/" class="footer-link">Services</a>
            <a href="/gallery/" class="footer-link">Gallery</a>
          </div>
        </div>
        <!-- <div id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed9a-1185ed6e" class="footer-link-wrap">
        <div class="footer-title-wrap">
          <h3 class="footer-title">Utility</h3>
        </div>
        <div class="footer-link-block">
          <a href="/style-guide/" class="footer-link">Style Guide</a>
          <a href="/changelog/" class="footer-link">Changelog</a>
          <a href="/licenses/" class="footer-link">Licenses</a>
          <a href="https://Arjwan-template.webflow.io/401" class="footer-link">Protected</a>
          <a href="https://Arjwan-template.webflow.io/404" class="footer-link">Not Found</a>
        </div>
      </div> -->
        <!-- <div id="w-node-_1a03c1d7-10ce-f356-ab94-97121185edad-1185ed6e" data-w-id="1a03c1d7-10ce-f356-ab94-97121185edad"
        class="footer-form-wrapper">
        <div class="footer-title-wrap subscribe-title">
          <h3 class="footer-title">Subscribe</h3>
        </div>
        <div class="footer-form-block w-form">
          <form id="wf-form-Email-Form-1" name="wf-form-Email-Form-1" data-name="Email Form 1" method="get"
            class="footer-form-wrap" data-wf-page-id="656da3032bcd6c9f0a8040db"
            data-wf-element-id="1a03c1d7-10ce-f356-ab94-97121185edb2"><input type="email"
              class="footer-text-field w-input" maxlength="256" name="Footer-Email" data-name="Footer Email"
              placeholder="Email here*" id="Footer-Email" required="">
            <div class="footer-social-wrap"><input type="submit" value="Send Now" data-wait="Please wait..."
                class="primary-button w-button">
              <div class="footer-social-media-wrap">
                <a href="http://www.linkedin.com" target="_blank" class="social-media-link w-inline-block"><img
                    src="images/linkedIn-icon.svg" loading="lazy" alt="LinkedIn Icon" class="social-icon"></a>
                <a href="http://www.twitter.com" target="_blank" class="social-media-link w-inline-block"><img
                    src="images/twiter-icon.svg" loading="lazy" alt="Twitter Icon" class="social-icon"></a>
                <a href="http://www.facebook.com" target="_blank" class="social-media-link w-inline-block"><img
                    src="images/fb-icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon"></a>
              </div>
            </div>
          </form>victorflow
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div> -->
        <div
          id="w-node-_1a03c1d7-10ce-f356-ab94-97121185edad-1185ed6e"
          data-w-id="1a03c1d7-10ce-f356-ab94-97121185edad"
          class="footer-form-wrapper"
        >
          <div class="footer-title-wrap subscribe-title">
            <h3 class="footer-title">Address</h3>
          </div>
          <div class="footer-content-block">
            <p>Office No.51, 5th Floor</p>
            <p>Oman Arab Bank Buildings, Opp. Avenues Mall, Ghoubrah</p>
            <p>Muscat - Sultanate of Oman</p>
          </div>
          <div class="footer-content-block">
            <p>Al Arjwan Trading and Logistics Services co.</p>
            <p>Ajman Media Free zone</p>
            <p>Ajman - United Arab Emirates</p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-block">
      <div class="container w-container">
        <div data-w-id="1a03c1d7-10ce-f356-ab94-97121185edc5" class="copyright-wrap">
          <p class="copyright-text">
            Copyright © Arjwan Trading & Logistics Services | Powered by <a
              href="https://fademedia.in/"
              target="_blank"
              class="copyright-link"
              >Fade
            </a>

            <!-- <div class="page-link-wrap">
          <a href="/style-guide/" class="page-link">Style Guide</a>
          <a href="/licenses/" class="page-link">Licenses</a>
          <a href="/changelog/" class="page-link">Changelog</a>
          <a href="https://Arjwan-template.webflow.io/401" class="page-link">Password</a>
        </div> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
