---
import Header from '@components/Header.astro';
import Layout from 'src/layouts/Layout.astro';
---

<Layout
  title="Arjwan - Cargo & Shipping"
  description="Whether you have a question about transport, logistics, pricing details, experience, or delivery details please contact us using the form and the other information on this page."
>
  <Header />
  <div class="contact-us-banner">
    <div class="container w-container">
      <div>
        <div class="subtitle-wrap-dark">
          <div class="subtitle-border"></div>
          <p class="subtitle-dark">Reach Us</p>
        </div>
        <h1 class="page-title">Contact Us</h1>
      </div>
    </div>
  </div>
  <div class="contact-us">
    <div class="container-small w-container">
      <div class="contact-us-wrap">
        <div class="contact-us-title-wrap">
          <div class="subtitle-wrap-transparent">
            <div class="subtitle-border"></div>
            <p class="subtitle-dark">Contact</p>
          </div>
          <h2 class="section-title text-white">Get in touch with us</h2>
          <p class="text-white">
            We appreciate your interest please complete the form below and we will contact you to discuss your
            warehousing, distribution, air, ocean freight or any other logistics needs.
          </p>
        </div>
        <div data-w-id="92d97fd4-4786-128d-fd38-70e4fcb5b832" class="contact-link-block">
          <div class="contact-link-wrap">
            <div class="contact-icon-wrap"><img src="images/mail-icon-white.svg" loading="lazy" alt="Mail Icon" /></div>
            <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">lisan@arjwanoman.com</a>
            <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">adnan@arjwanoman.com</a>
            <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">mohd@arjwanoman.com</a>
          </div>
          <div class="contact-link-wrap">
            <div class="contact-icon-wrap">
              <img src="images/phone-icon-white.svg" loading="lazy" alt="Mail Icon" />
            </div>
            <a href="tel:(968)71113157" class="header-link-text hover-yellow"> +968 71113157</a>
            <a href="tel:(968)71113159" class="header-link-text hover-yellow"> +968 71113159</a>
            <a href="tel:(968)71113184" class="header-link-text hover-yellow"> +968 71113184</a>
          </div>
          <div class="contact-link-wrap">
            <div class="contact-icon-wrap">
              <img src="images/clock-icon-white.svg" loading="lazy" alt="Mail Icon" />
            </div>
            <p class="header-link-text">Mon - Thur 8AM - 6PM</p>
          </div>
        </div>
        <div class="contact-form-block w-form">
          <form
            method="get"
            name="email-form"
            data-name="Email Form"
            data-w-id="f7b2193c-b81b-ab93-ab76-83f08171e9e1"
            id="email-form"
            class="contact-page-form"
            data-wf-page-id="656da3032bcd6c9f0a80414b"
            data-wf-element-id="f7b2193c-b81b-ab93-ab76-83f08171e9e1"
          >
            <div class="contact-text-field-divider">
              <input
                type="text"
                class="contact-input-type contact-page w-input"
                maxlength="256"
                name="name"
                data-name="Name"
                placeholder="Your name*"
                id="name"
              /><input
                type="email"
                class="contact-input-type contact-page w-input"
                maxlength="256"
                name="email"
                data-name="Email"
                placeholder="Email*"
                id="email"
                required=""
              />
            </div>
            <div class="contact-text-field-divider">
              <input
                type="tel"
                class="contact-input-type contact-page w-input"
                maxlength="256"
                name="field"
                data-name="Field"
                placeholder="Phone Number*"
                id="field"
              /><input
                type="text"
                class="contact-input-type contact-page w-input"
                maxlength="256"
                name="field-2"
                data-name="Field 2"
                placeholder="City*"
                id="field-2"
              />
            </div><textarea
              placeholder="Your Message"
              maxlength="5000"
              id="field-3"
              name="field-3"
              data-name="field"
              class="contact-text-area contact-page w-input"></textarea><input
              type="submit"
              value="Submit Message"
              data-wait="Please wait..."
              class="primary-button w-button"
            />
          </form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-container logo-container">
      <div class="slider">
        <div class="slide-track2">
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p1.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p2.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p3.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p4.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p5.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p6.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p7.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p8.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p9.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p10.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p11.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p12.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p13.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="about-faq-section">
    <div class="container w-container">
      <div class="w-layout-grid about-faq-grid">
        <div id="w-node-e0e21339-8401-2df2-4a07-a3eb2bbd9949-0a80414b">
          <div class="about-faq-title-wrap">
            <div class="subtitle-wrap">
              <p class="subtitle">FAQ</p>
              <div class="subtitle-border"></div>
            </div>
            <h2 class="section-title">Frequently Asked Questions</h2>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="e0e21339-8401-2df2-4a07-a3eb2bbd9951"
            class="faq-wrap w-dropdown">
            <div class="faq-question-wrap w-dropdown-toggle">
              <div
                style="color:rgb(28,31,53);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
                class="faq-icon w-icon-dropdown-toggle"></div>
              <div class="faq-question">What warranties do I have for my shipments?</div>
            </div>
            <nav style="height:0px;opacity:0" class="faq-answer-wrap w-dropdown-list">
              <div>
                <p>Logistics operates under country-specific freight forward industry terms. We are members of Logistics
                  and Freight Association. Logistics can also offer specific insurance cover on request. </p>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="e0e21339-8401-2df2-4a07-a3eb2bbd995a"
            class="faq-wrap w-dropdown">
            <div class="faq-question-wrap w-dropdown-toggle">
              <div
                style="color:rgb(28,31,53);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
                class="faq-icon w-icon-dropdown-toggle"></div>
              <div class="faq-question">What is mandatory communication fee?</div>
            </div>
            <nav style="height:0px;opacity:0" class="faq-answer-wrap w-dropdown-list">
              <div>
                <p>The obligatory communication fee includes the basic entries in the online exhibitor directory and in
                  the visit planner (see basic entries) as well as entry options in the online sections press and
                  exhibitor event calendars.</p>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="e0e21339-8401-2df2-4a07-a3eb2bbd9963"
            class="faq-wrap w-dropdown">
            <div class="faq-question-wrap w-dropdown-toggle">
              <div
                style="color:rgb(28,31,53);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
                class="faq-icon w-icon-dropdown-toggle"></div>
              <div class="faq-question">What options for logistics plans are available?</div>
            </div>
            <nav style="height:0px;opacity:0" class="faq-answer-wrap w-dropdown-list">
              <div>
                <p>Possibly the most important part of your logistics partnership is having confidence that your
                  provider has a firm grasp on your business requirements.</p>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="e0e21339-8401-2df2-4a07-a3eb2bbd996c"
            class="faq-wrap w-dropdown">
            <div class="faq-question-wrap w-dropdown-toggle">
              <div
                style="color:rgb(28,31,53);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
                class="faq-icon w-icon-dropdown-toggle"></div>
              <div class="faq-question">Can i specify a delivery date when ordering?</div>
            </div>
            <nav style="height:0px;opacity:0" class="faq-answer-wrap w-dropdown-list">
              <div>
                <p>Beyond all the service details and industry experience, you also want a supplier who does business in
                  a way that aligns with your own company&#x27;s culture. </p>
              </div>
            </nav>
          </div>
        </div>
        <div id="w-node-e0e21339-8401-2df2-4a07-a3eb2bbd9975-0a80414b" class="faq-contact-block">
          <div class="subtitle-wrap-transparent">
            <div class="subtitle-border"></div>
            <p class="subtitle-dark">Let’s Talk</p>
          </div>
          <h3 class="faq-contact-title">You Need Any Help? Get Free Consultation</h3>
          <div class="mg-top-20">
            <div class="header-link-card">
              <div class="header-icon-wrap"><img src="images/phone-icon-white.svg" loading="lazy" alt="Phone Icon">
              </div>
              <div>
                <p class="header-link-text">Have Any Questions </p>
                <a href="tel:(00)123456789" class="header-link-text hover-yellow">(00) 123 456 789</a>
              </div>
            </div>
          </div>
          <div class="mg-top-30">
            <a data-w-id="e0e21339-8401-2df2-4a07-a3eb2bbd9986" href="/contact-us/" aria-current="page"
              class="yellow-overlay-button w-inline-block w--current">
              <div>Contact Us</div>
              <div
                style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="yellow-button-hover"></div>
            </a>
          </div>
          <div class="about-faq-bg"><img src="images/about-faq-bg-image.jpg" loading="lazy" width="697"
              sizes="(max-width: 991px) 100vw, 697px" alt="Taxi "
              srcset="images/about-faq-bg-image-p-500.jpg 500w, images/about-faq-bg-image.jpg 682w"></div>
        </div>
      </div>
    </div>
    <div class="about-faq-bg-color"></div>
  </div> -->
  <div class="footer-section">
    <div class="footer-shade-bg"></div>

    <div class="container w-container">
      <div class="w-layout-grid footer-grid">
        <div
          id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed72-1185ed6e"
          data-w-id="1a03c1d7-10ce-f356-ab94-97121185ed72"
          class="footer-content-wrap"
        >
          <a
            id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed73-1185ed6e"
            href="/"
            aria-current="page"
            class="footer-logo-wrap f-logo w-inline-block w--current"
          >
            <img src="images/Logo.png" loading="lazy" alt="Logistics Logo" class="w-[7rem]" />
          </a>
          <div class="footer-content-block fb1">
            <p class="footer-text">
              To be the industry leader, globally recognized for effective &amp; efficient solutions. To provide
              innovative solutions delivering quality, excellence and speed.
            </p>
            <div class="footer-contact-link-wrap">
              <div class="header-link-card">
                <div class="header-icon-wrap">
                  <img src="images/mail-icon-yellow.svg" loading="lazy" alt="Mail Icon" />
                </div>
                <div>
                  <p class="header-link-text">Email</p>
                  <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">lisan@arjwanoman.com</a>
                  <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">adnan@arjwanoman.com</a>
                  <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">mohd@arjwanoman.com</a>
                </div>
              </div>
              <div class="header-link-card">
                <div class="header-icon-wrap">
                  <img src="images/phone-icon-yellow.svg" loading="lazy" alt="Phone Icon" />
                </div>
                <div>
                  <p class="header-link-text">Call Us</p>
                  <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113157</a>
                  <br />
                  <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113159</a>
                  <br />
                  <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113184</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed89-1185ed6e" class="footer-link-wrap">
          <div class="footer-title-wrap">
            <h3 class="footer-title">Pages</h3>
          </div>
          <div class="footer-link-block">
            <a href="/about-us/" class="footer-link">About Us</a>
            <a href="/contact-us/" class="footer-link">Contact</a>
            <a href="/service/" class="footer-link">Services</a>
            <a href="/gallery/" class="footer-link">Gallery</a>
          </div>
        </div>
        <!-- <div id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed9a-1185ed6e" class="footer-link-wrap">
        <div class="footer-title-wrap">
          <h3 class="footer-title">Utility</h3>
        </div>
        <div class="footer-link-block">
          <a href="/style-guide/" class="footer-link">Style Guide</a>
          <a href="/changelog/" class="footer-link">Changelog</a>
          <a href="/licenses/" class="footer-link">Licenses</a>
          <a href="https://Arjwan-template.webflow.io/401" class="footer-link">Protected</a>
          <a href="https://Arjwan-template.webflow.io/404" class="footer-link">Not Found</a>
        </div>
      </div> -->
        <!-- <div id="w-node-_1a03c1d7-10ce-f356-ab94-97121185edad-1185ed6e" data-w-id="1a03c1d7-10ce-f356-ab94-97121185edad"
        class="footer-form-wrapper">
        <div class="footer-title-wrap subscribe-title">
          <h3 class="footer-title">Subscribe</h3>
        </div>
        <div class="footer-form-block w-form">
          <form id="wf-form-Email-Form-1" name="wf-form-Email-Form-1" data-name="Email Form 1" method="get"
            class="footer-form-wrap" data-wf-page-id="656da3032bcd6c9f0a8040db"
            data-wf-element-id="1a03c1d7-10ce-f356-ab94-97121185edb2"><input type="email"
              class="footer-text-field w-input" maxlength="256" name="Footer-Email" data-name="Footer Email"
              placeholder="Email here*" id="Footer-Email" required="">
            <div class="footer-social-wrap"><input type="submit" value="Send Now" data-wait="Please wait..."
                class="primary-button w-button">
              <div class="footer-social-media-wrap">
                <a href="http://www.linkedin.com" target="_blank" class="social-media-link w-inline-block"><img
                    src="images/linkedIn-icon.svg" loading="lazy" alt="LinkedIn Icon" class="social-icon"></a>
                <a href="http://www.twitter.com" target="_blank" class="social-media-link w-inline-block"><img
                    src="images/twiter-icon.svg" loading="lazy" alt="Twitter Icon" class="social-icon"></a>
                <a href="http://www.facebook.com" target="_blank" class="social-media-link w-inline-block"><img
                    src="images/fb-icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon"></a>
              </div>
            </div>
          </form>victorflow
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div> -->
        <div
          id="w-node-_1a03c1d7-10ce-f356-ab94-97121185edad-1185ed6e"
          data-w-id="1a03c1d7-10ce-f356-ab94-97121185edad"
          class="footer-form-wrapper"
        >
          <div class="footer-title-wrap subscribe-title">
            <h3 class="footer-title">Address</h3>
          </div>
          <div class="footer-content-block">
            <p>Office No.51, 5th Floor</p>
            <p>Oman Arab Bank Buildings, Opp. Avenues Mall, Ghoubrah</p>
            <p>Muscat - Sultanate of Oman</p>
          </div>
          <div class="footer-content-block">
            <p>Al Arjwan Trading and Logistics Services co.</p>
            <p>Ajman Media Free zone</p>
            <p>Ajman - United Arab Emirates</p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-block">
      <div class="container w-container">
        <div data-w-id="1a03c1d7-10ce-f356-ab94-97121185edc5" class="copyright-wrap">
          <p class="copyright-text">
            Copyright © Arjwan Trading & Logistics Services | Powered by <a
              href="https://www.thezeroagency.in/"
              target="_blank"
              class="copyright-link"
              >Alifsense
            </a>

            <!-- <div class="page-link-wrap">
          <a href="/style-guide/" class="page-link">Style Guide</a>
          <a href="/licenses/" class="page-link">Licenses</a>
          <a href="/changelog/" class="page-link">Changelog</a>
          <a href="https://Arjwan-template.webflow.io/401" class="page-link">Password</a>
        </div> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
