---
import Layout from 'src/layouts/Layout.astro';

import img1 from '../assets/images/about-flight-image.webp';
import img2 from '../assets/images/about-image-2.webp';
import img3 from '../assets/images/pla3.webp';

import { Picture } from 'astro:assets';
import Header from '@components/Header.astro';
---

<Layout
  title="Arjwan - Cargo & Shipping"
  description="Whether you have a question about transport, logistics, pricing details, experience, or delivery details please contact us using the form and the other information on this page."
>
  <Header />
  <div class="banner-section">
    <div class="container w-container">
      <div class="banner-title-wrap">
        <div class="subtitle-wrap-dark">
          <div class="subtitle-border"></div>
          <p class="subtitle-dark">Logistics &amp; Supply Chain Solutions</p>
        </div>
        <h1 class="page-title">Safest Logistics Solutions Provider With Integrity</h1>
        <p class="text-white">
          We&#x27;re a leading provider of less-than-truckload freight transportation with the world-class network,
          technology and service our customers need at all the time.
        </p>
        <div class="mg-top-30">
          <a
            data-w-id="eb561e47-cb03-a646-ba49-a9acddba1c6c"
            href="/about-us/"
            class="yellow-overlay-button w-inline-block"
          >
            <div>Explore More</div>
            <div
              style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
              class="yellow-button-hover"
            >
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="service-section">
    <div class="container w-container container-s">
      <div class="service-whole-wrap">
        <div class="service-title-wrap">
          <div class="subtitle-wrap">
            <p class="subtitle">What We Do</p>
            <div class="subtitle-border"></div>
          </div>
          <h2 class="section-title">Safe &amp; Reliable Cargo Solutions</h2>
        </div>
        <div class="w-layout-grid service-grid">
          <div id="w-node-_061c2828-995f-0fab-d200-8f7a4cde8424-0a8040db" class="service-card">
            <div class="home-service-icon-wrap"><img src="images/ship-icon.svg" loading="lazy" alt="Boat Icon" /></div>
            <div class="service-line"></div>
            <div>
              <a href="/service-single/" class="service-title">Ship Agency & Husbandry Services</a>
              <div class="mg-top-10">
                <p>
                  Wherever your cargo is going, we can arrange the shipment for you and remain competitive with the
                  business market.
                </p>
              </div>
            </div>
          </div>
          <div id="w-node-_99ff713f-4a42-1b91-1897-8485340e4ac9-0a8040db" class="service-card">
            <div class="home-service-icon-wrap">
              <img src="images/warehouse-icon.svg" loading="lazy" alt="Boat Icon" />
            </div>
            <div class="service-line"></div>
            <div>
              <a href="/service-single/" class="service-title">Freight Forwarding</a>
              <div class="mg-top-10">
                <p>
                  Your statement succinctly encapsulates the essence of your commitment to your clients and the broader
                  impact of your services. It conveys a sense of dedication and responsibility, emphasizing the
                  significance of the goods you handle.
                </p>
              </div>
            </div>
          </div>
          <div id="w-node-eb5d8dcf-c877-109a-0c1e-360896407207-0a8040db" class="service-card">
            <div class="home-service-icon-wrap">
              <img src="images/flight-icon.svg" loading="lazy" width="82" alt="Boat Icon" />
            </div>
            <div class="service-line"></div>
            <div>
              <a href="/service-single/" class="service-title">LCL Consolidation</a>
              <div class="mg-top-10">
                <p>
                  Like skilled puzzle masters, we meticulously piece together perfect logistics solutions, ensuring
                  seamless alignment to your needs. With a keen eye for detail and commitment to excellence, we optimize
                  your supply chain, streamlining every process efficiently.
                </p>
              </div>
            </div>
          </div>
          <div id="w-node-_12ab821c-1333-46e4-d207-5423fdb43fa5-0a8040db" class="service-card">
            <div class="home-service-icon-wrap"><img src="images/van-icon.svg" loading="lazy" alt="Boat Icon" /></div>
            <div class="service-line"></div>
            <div>
              <a href="/service-single/" class="service-title">Land Transportation</a>
              <div class="mg-top-10">
                <p>
                  We work close with strategic partners to ensure our domestic trucking offers clients everything they
                  need in their place.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="service-image-wrap"></div>
    <div>
      <div class="container w-container">
        <div>
          <div class="w-layout-grid about-grid">
            <div id="w-node-_14bbf165-3934-859f-f7b7-01a8a2fc6f87-0a8040db">
              <div class="subtitle-wrap">
                <p class="subtitle">Why Us</p>
                <div class="subtitle-border"></div>
              </div>
              <h2 class="section-title">We provide full range global logistics solution</h2>
              <div class="about-content">
                <p>
                  We strive to understand what they’re going through, what they need, what their price points are, and
                  what’s important to them and their customers.
                </p>
                <p>
                  We historically build meaningful relationships with our customers. We connect with our customers. We
                  care.
                </p>
              </div>
              <div class="about-points-wrap">
                <div class="about-list">
                  <div class="icon-wrap"><img src="images/home-features-icon.svg" loading="lazy" alt="Icon" /></div>
                  <h3 class="about-point">Delivery on Time</h3>
                </div>
                <div class="about-list">
                  <div class="icon-wrap"><img src="images/note-icon.svg" loading="lazy" alt="Icon" /></div>
                  <h3 class="about-point">Optimized Travel Cost</h3>
                </div>
              </div>
            </div>
            <div id="w-node-dc32ca33-0de6-a0a0-b02f-f4ba32e57412-0a8040db" class="about-image-wrap">
              <!-- <img
                src="images/about-flight-image.webp"
                loading="lazy"
                alt="Cargo Image"
              /> -->
              <Picture
                src={img1}
                width={1600}
                height={1067}
                widths={[300, 500, 600, 800]}
                sizes={`(max-width: 340px) 300px, (max-width: 720px) 500px, (max-width: 1600px) 600px, 800`}
                alt="Cargo Image"
                formats={['avif', 'webp']}
                loading="eager"
                fetchpriority="high"
                data-w-id="1f1a020d-bc25-9847-fe2e-8058c0c407c2"
              />
              <div class="about-image">
                <Picture
                  src={img2}
                  width={1600}
                  height={1067}
                  widths={[300, 300, 400, 460]}
                  sizes={`(max-width: 340px) 300px, (max-width: 720px) 300px, (max-width: 1600px) 400px, 460`}
                  alt="Cargo Image"
                  formats={['avif', 'webp']}
                  loading="eager"
                  fetchpriority="high"
                  data-w-id="1f1a020d-bc25-9847-fe2e-8058c0c407c2"
                  class="about-img-2"
                />
              </div>
            </div>
          </div>
          <div class="counter-wrap">
            <div class="counter-card">
              <p class="counter-number">1294</p>
              <div class="counter-text-wrap">
                <div class="counter-block yellow-gradient"></div>
                <p class="counter-text">Delivered Packages</p>
              </div>
            </div>
            <div class="counter-line"></div>
            <div class="counter-card">
              <p class="counter-number">100</p>
              <div class="counter-text-wrap">
                <div class="counter-block yellow-gradient"></div>
                <p class="counter-text">Satisfied Clients</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="work-section">
    <div class="work-bg yellow-gradient"></div>
    <div class="container-large w-container">
      <div class="align-center">
        <h2 class="section-title">Transporting across the world</h2>
      </div>
      <div class="mg-top-30">
        <div class="w-layout-grid work-grid">
          <div id="w-node-d9a5ad58-057c-a763-bbe6-c17c9cb18fce-0a8040db" class="work-card">
            <div class="work-image-shade">
              <div class="work-text-wrap">
                <h3 class="work-card-title">Liquid Transportation</h3>
                <p class="work-text">Premium Tankers</p>
              </div>
            </div><img src="images/project-image-1.jpg" loading="lazy" width="603" alt="Transport Image" />
          </div>
          <div id="w-node-df616d07-63e8-a31f-b9bd-812958e0cd30-0a8040db" class="work-card">
            <div class="work-image-shade">
              <div class="work-text-wrap">
                <h3 class="work-card-title">Packing and Removal</h3>
                <p class="work-text">Warehouse Management</p>
              </div>
            </div><img
              src="images/project-image-2.webp"
              class="pack-img"
              loading="lazy"
              width="594"
              alt="Transport Image"
            />
          </div>
          <div id="w-node-f65af531-af57-e694-8a8a-bee06377622e-0a8040db" class="work-card">
            <div class="work-image-shade">
              <div class="work-text-wrap">
                <h3 class="work-card-title">Contract Logistics</h3>
                <p class="work-text">Road Transportation</p>
              </div>
            </div><img src="images/project-image-3.jpg" loading="lazy" width="534" alt="Transport Image" />
          </div>
          <div id="w-node-_006464a1-7164-3943-ef8f-ec192d1fdbb6-0a8040db" class="work-card">
            <div class="work-image-shade">
              <div class="work-text-wrap">
                <h3 class="work-card-title">Warehouse &amp; Distribution</h3>
                <p class="work-text">Large Warehouse</p>
              </div>
            </div><img src="images/project-image-4.jpg" loading="lazy" width="519" alt="Transport Image" />
          </div>
          <div id="w-node-_5bd0f6bf-80bf-3672-5655-2884de19a405-0a8040db" class="work-card">
            <div class="work-image-shade">
              <div class="work-text-wrap">
                <h3 class="work-card-title">Specialized Transport</h3>
                <p class="work-text">Ocean Transports</p>
              </div>
            </div><img src="images/project-image-5.jpg" loading="lazy" width="496" alt="Transport Image" />
          </div>
        </div>
      </div>
      <!-- <div class="mg-top-60">
      <div class="align-center">
        <a data-w-id="25461b7a-b71a-7f01-d198-7700f6ca7c49" href="/our-project/"
          class="dark-overlay-button w-inline-block">
          <div>More Work</div>
          <div
            style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
            class="dark-button-hover"></div>
        </a>
      </div>
    </div> -->
    </div>
  </div>
  <!-- <div class="testimonial-section">
  <div class="container overflow-hidden w-container">
    <div>
      <div class="subtitle-wrap">
        <p class="subtitle">Testimonial</p>
        <div class="subtitle-border"></div>
      </div>
      <h2 class="section-title">What Our Customer Say</h2>
    </div>
    <div class="mg-top-40">
      <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false"
        data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
        data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="testimonial-mask w-slider-mask">
          <div data-w-id="bb697a6d-5bda-f196-47b5-f5a7c2ed64a4" class="testimonial-slide w-slide">
            <div style="background-color:rgb(244,244,244)" class="testimonial-card">
              <div class="testimonial-top-wrap">
                <div class="testimonial-author-wrap">
                  <div class="author-image-wrap"><img src="images/author-image-1.jpg" loading="lazy" width="91"
                      alt="Author Image" class="author-image"></div>
                  <div>
                    <h3 style="color:rgb(28,31,53)" class="author-name">David Malan</h3>
                    <p style="color:rgb(9,18,66)" class="author-designation">Fuel Company</p>
                  </div>
                </div>
                <div class="testimonial-icon-wrap yellow-gradient"><img src="images/quote-icon.svg" loading="lazy"
                    alt="Blockquote Icon"></div>
              </div>
              <p style="color:rgb(102,108,137)" class="testimonial-text">We are so happy with everything that the
                logistics group has done for us. They have excellent delivery to North-Eastern region of united
                states. I highly recommend them! Superb communication, pick up and delivery right on time.</p>
              <div class="testimonial-rating-wrap"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                  src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img src="images/star-icon.svg"
                  loading="lazy" alt="Star Icon"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                  src="images/star-icon.svg" loading="lazy" alt="Star Icon"></div>
            </div>
          </div>
          <div data-w-id="f4e0521d-f4d3-d0e1-1b42-64187e2f0df7" class="testimonial-slide w-slide">
            <div style="background-color:rgb(244,244,244)" class="testimonial-card">
              <div class="testimonial-top-wrap">
                <div class="testimonial-author-wrap">
                  <div class="author-image-wrap"><img src="images/author-image-2.jpg" loading="lazy" width="91"
                      alt="Author Image" class="author-image"></div>
                  <div>
                    <h3 style="color:rgb(28,31,53)" class="author-name">Clifford Stratton</h3>
                    <p style="color:rgb(9,18,66)" class="author-designation">Restoration Company</p>
                  </div>
                </div>
                <div class="testimonial-icon-wrap yellow-gradient"><img src="images/quote-icon.svg" loading="lazy"
                    alt="Blockquote Icon"></div>
              </div>
              <p style="color:rgb(102,108,137)" class="testimonial-text">Providers of personal safety, comfort, and
                protection products for the outdoor enthusiast It has been our experience that Classic Transportation
                is in an elite group of full line transportation providers.</p>
              <div class="testimonial-rating-wrap"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                  src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img src="images/star-icon.svg"
                  loading="lazy" alt="Star Icon"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                  src="images/star-icon.svg" loading="lazy" alt="Star Icon"></div>
            </div>
          </div>
          <div data-w-id="c4261588-b525-0901-9526-be156cf0a23b" class="testimonial-slide w-slide">
            <div style="background-color:rgb(244,244,244)" class="testimonial-card">
              <div class="testimonial-top-wrap">
                <div class="testimonial-author-wrap">
                  <div class="author-image-wrap"><img src="images/author-image-3_1author-image-3.jpg" loading="lazy"
                      alt="Author Image" class="author-image"></div>
                  <div>
                    <h3 style="color:rgb(28,31,53)" class="author-name">Kathy Taylor</h3>
                    <p style="color:rgb(9,18,66)" class="author-designation">Rapids Industrial Products</p>
                  </div>
                </div>
                <div class="testimonial-icon-wrap yellow-gradient"><img src="images/quote-icon.svg" loading="lazy"
                    alt="Blockquote Icon"></div>
              </div>
              <p style="color:rgb(102,108,137)" class="testimonial-text">We have been using Logistics Transportation
                for several years for our Logistic moves to some of our biggest customers. They have been very
                reliable and have provided great service to ourselves and to our customers.</p>
              <div class="testimonial-rating-wrap"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                  src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img src="images/star-icon.svg"
                  loading="lazy" alt="Star Icon"><img src="images/star-icon.svg" loading="lazy" alt="Star Icon"><img
                  src="images/star-icon.svg" loading="lazy" alt="Star Icon"></div>
            </div>
          </div>
        </div>
        <div data-w-id="bb697a6d-5bda-f196-47b5-f5a7c2ed64a6" style="background-color:rgb(255,190,52)"
          class="testimonial-left-arrow-wrap w-slider-arrow-left">
          <div class="hide w-icon-slider-left"></div><img
            src="images/testimonial-left-arrow_1testimonial-left-arrow.png" loading="lazy" style="filter:invert(0%)"
            alt="Arrow" class="testimonial-left-arrow">
        </div>
        <div data-w-id="bb697a6d-5bda-f196-47b5-f5a7c2ed64a8" style="background-color:rgb(255,190,52)"
          class="testimonial-right-arrow-wrap w-slider-arrow-right">
          <div class="hide w-icon-slider-right"></div><img
            src="images/testimonial-right-arrow_1testimonial-right-arrow.png" loading="lazy" style="filter:invert(0%)"
            alt="Arrow Icon" class="testimonial-right-arrow">
        </div>
        <div class="hide w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
</div> -->
  <div class="features-section">
    <div class="features-bg">
      <div class="features-dark-bg"></div>
    </div>
    <div class="container-large w-container">
      <div>
        <div class="w-layout-grid features-grid">
          <div id="w-node-b1d53aee-a366-27d7-34e4-aafb93130932-0a8040db" class="features-image">
            <Picture
              src={img3}
              width={1600}
              height={1067}
              widths={[300, 500, 1200, 1421]}
              sizes={`(max-width: 340px) 300px, (max-width: 720px) 500px, (max-width: 1600px) 1200px, 1421`}
              alt="Plane"
              formats={['avif', 'webp']}
              loading="eager"
              fetchpriority="high"
              data-w-id="1f1a020d-bc25-9847-fe2e-8058c0c407c2"
            />

            <div data-w-id="4b1c7fff-4080-3c6f-f427-4f2337e36b19" class="features-content-wrap">
              <img src="images/features-icon.svg" loading="lazy" alt="Flight Icon" />
              <h3 class="about-point">Moving your products across world</h3>
            </div>
          </div>
          <div id="w-node-_2a14f6eb-8a15-99ee-afab-c9ff00376b22-0a8040db">
            <div class="features-title-wrap">
              <div class="subtitle-wrap">
                <p class="subtitle">Why Choose</p>
                <div class="subtitle-border"></div>
              </div>
              <h2 class="section-title">We create an opportunity to reach business potential</h2>
              <div class="mg-top-20">
                <p>
                  Logistics is a distinguished supply chain management firm which provides comprehensive solutions for
                  warehousing, transportation and a host of logistics services.
                </p>
              </div>
            </div>
            <div class="features-icon-list">
              <div class="features-points-wrap">
                <div class="icon-wrap"><img src="images/box-icon.svg" loading="lazy" alt="Icon" /></div>
                <h3 class="features-point">Safe Package</h3>
              </div>
              <div class="features-points-wrap">
                <div class="icon-wrap"><img src="images/boat-icon.svg" loading="lazy" alt="Icon" /></div>
                <h3 class="features-point">Ship Everywere</h3>
              </div>
              <div class="features-points-wrap">
                <div class="icon-wrap"><img src="images/browse-icon.svg" loading="lazy" alt="Icon" /></div>
                <h3 class="features-point">Global Tracking</h3>
              </div>
              <div class="features-points-wrap">
                <div class="icon-wrap"><img src="images/headset-icon.svg" loading="lazy" alt="Icon" /></div>
                <h3 class="features-point">24/7 Support</h3>
              </div>
              <div class="features-points-wrap">
                <div class="icon-wrap"><img src="images/clock-icin.svg" loading="lazy" alt="Icon" /></div>
                <h3 class="features-point">In Time Delivery</h3>
              </div>
              <div class="features-points-wrap">
                <div class="icon-wrap"><img src="images/drum-icon.svg" loading="lazy" alt="Icon" /></div>
                <h3 class="features-point">Transparent Pricing</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="home-team-section">
  <div class="container w-container">
    <div class="align-center">
      <div class="subtitle-wrap">
        <p class="subtitle">The Transporters</p>
        <div class="subtitle-border"></div>
      </div>
      <h2 class="section-title">Meet Expert Team</h2>
    </div>
    <div class="mg-top-40">
      <div class="w-layout-grid home-team-grid">
        <div id="w-node-_5437c918-4aee-e803-ed09-ea60a5464a22-0a8040db" class="team-card"><img
            src="images/team-image-1.jpg" loading="lazy" width="662" alt="Team Image">
          <div class="team-content-wrap">
            <h3 class="author-name text-white">Helen Wilmore</h3>
            <p class="team-member-designation">Warehouse Head</p>
          </div>
          <div class="social-media-wrap">
            <a href="http://www.twitter.com" target="_blank" class="team-social-link w-inline-block"><img
                src="images/twitter-icon.svg" loading="lazy" alt="Twitter Icon" class="social-icon"></a>
            <a href="http://www.facebook.com" target="_blank" class="team-social-link w-inline-block"><img
                src="images/facebook-icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon"></a>
            <a href="http://www.instagram.com" target="_blank" class="team-social-link w-inline-block"><img
                src="images/instagram-icon.svg" loading="lazy" alt="Instagram Icon" class="social-icon"></a>
          </div>
        </div>
        <div id="w-node-_4408cd6f-f4c0-bd61-7b5e-0affda1cff6a-0a8040db" class="team-card"><img
            src="images/team-image-2.jpg" loading="lazy" width="595" alt="Team Image">
          <div class="team-content-wrap">
            <h3 class="author-name text-white">Anthony Wills</h3>
            <p class="team-member-designation">Transport Manager</p>
          </div>
          <div class="social-media-wrap">
            <a href="http://www.linkedin.com" target="_blank" class="team-social-link w-inline-block"><img
                src="images/linedin-icon.svg" loading="lazy" alt="LinkedIn Icon" class="social-icon"></a>
            <a href="http://www.twitter.com" target="_blank" class="team-social-link w-inline-block"><img
                src="images/twitter-icon.svg" loading="lazy" alt="Twitter Icon" class="social-icon"></a>
            <a href="http://www.facebook.com" target="_blank" class="team-social-link w-inline-block"><img
                src="images/facebook-icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon"></a>
            <a href="http://www.instagram.com" target="_blank" class="team-social-link w-inline-block"><img
                src="images/instagram-icon.svg" loading="lazy" alt="Instagram Icon" class="social-icon"></a>
          </div>
        </div>
        <div id="w-node-_5b8c597c-6f27-2a1e-7bda-0bc1403b70c7-0a8040db" class="team-card"><img
            src="images/team-image-3.jpg" loading="lazy" width="724" alt="Team Image">
          <div class="team-content-wrap">
            <h3 class="author-name text-white">Kate Winslot</h3>
            <p class="team-member-designation">Cargo head</p>
          </div>
          <div class="social-media-wrap">
            <a href="http://www.facebook.com" target="_blank" class="team-social-link w-inline-block"><img
                src="images/facebook-icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon"></a>
            <a href="http://www.instagram.com" target="_blank" class="team-social-link w-inline-block"><img
                src="images/instagram-icon.svg" loading="lazy" alt="Instagram Icon" class="social-icon"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
  <div class="contact-section">
    <!-- <div class="container w-container">
    <div class="w-layout-grid contact-grid">
      <div id="w-node-_8c82d05d-0ea1-2777-7b50-7ed99d0c6187-0a8040db">
        <div class="subtitle-wrap-transparent">
          <p class="subtitle-dark">Contact</p>
          <div class="subtitle-border"></div>
        </div>
        <h2 class="section-title text-white">Get in touch with us</h2>
        <p class="text-white">We appreciate your interest please complete the form below and we will contact you
          immediately to discuss your warehousing and distribution, air, ocean freight or any other logistics needs.
        </p>
        <div data-w-id="59283b6b-b8f7-72b7-b2f7-e2515c66b753"  class="home-contact-link-wrap">
          <div class="header-link-card">
            <div class="header-icon-wrap"><img src="images/mail-icon_1mail-icon.png" loading="lazy" alt="Mail Icon">
            </div>
            <div>
              <p class="header-link-text">Email</p>
              <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">info@arjwanoman.com</a>
            </div>
          </div>
          <div class="header-link-card">
            <div class="header-icon-wrap"><img src="images/Phone-icon_1Phone-icon.png" loading="lazy"
                alt="Phone Icon"></div>
            <div>
              <p class="header-link-text">Call Us</p>
              <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113157</a> <br>
              <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113159</a> <br>
              <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113184</a>
            </div>
          </div>
          <div class="header-link-card">
            <div class="header-icon-wrap"><img src="images/clock-icon_1clock-icon.png" loading="lazy"
                alt="Clock Icon"></div>
            <div>
              <p class="header-link-text">Mon - Thur 8AM - 6PM </p>
            </div>
          </div>
        </div>
      </div>
      <div id="w-node-ea9e92ac-2b03-b12c-9f0b-98de4c521332-0a8040db">
        <div class="w-form">
          <form method="get" name="email-form" data-name="Email Form" 
            data-w-id="7ce10f7b-78a2-c027-bbec-c5925ddcd9cc" id="email-form" class="contact-form"
            data-wf-page-id="656da3032bcd6c9f0a8040db" data-wf-element-id="7ce10f7b-78a2-c027-bbec-c5925ddcd9cc">
            <div class="contact-text-field-divider"><input type="text" class="contact-input-type w-input"
                maxlength="256" name="name" data-name="Name" placeholder="Your Name*" id="name"><input type="email"
                class="contact-input-type w-input" maxlength="256" name="email" data-name="Email"
                placeholder="Your Email*" id="email" required=""></div>
            <div class="contact-text-field-divider"><input type="text" class="contact-input-type w-input"
                maxlength="256" name="field" data-name="Field" placeholder="Phone Number*" id="field"
                required=""><input type="text" class="contact-input-type w-input" maxlength="256" name="field-2"
                data-name="Field 2" placeholder="City*" id="field-2" required=""></div><textarea
              placeholder="Your Message" maxlength="5000" id="field-3" name="field-3" data-name="field"
              class="contact-text-area w-input"></textarea><input type="submit" value="Submit Message"
              data-wait="Please wait..." class="primary-button w-button">
          </form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>

  </div> -->
    <div class="container w-container logo-container logo-container-1">
      <div class="slider">
        <div class="slide-track2">
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p1.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p2.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p3.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p4.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p5.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p6.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p7.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p8.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p9.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p10.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p11.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p12.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
          <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
            <img src="images/partners/p13.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="blog-section">
  <div class="container-small w-container">
    <div class="align-center">
      <div class="subtitle-wrap">
        <p class="subtitle">Our Blog</p>
        <div class="subtitle-border"></div>
      </div>
      <h2 class="section-title">Our Latest News</h2>
    </div>
    <div class="mg-top-40">
      <div class="blog-whole-wrap">
        <div class="w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <div data-w-id="4e9d197a-d99d-e72d-6bf7-bb2aea974293"  class="blog-wrap">
                <a data-w-id="4e9d197a-d99d-e72d-6bf7-bb2aea974294" href="#"
                  class="blog-image-wrap w-inline-block"><img loading="lazy" width="976" src="" alt="Shipyard">
                  <div style="display:none;opacity:0" class="blog-image-overlay">
                    <p class="blog-read-more-link">Read More</p>
                  </div>
                </a>
                <div class="blog-date-wrap"><img loading="lazy" src="images/calendar-icon.svg" alt="Calendar Icon">
                  <div>
                    <p class="blog-date"></p>
                    <p class="mg-0"></p>
                  </div>
                </div>
                <div class="blog-line"></div>
                <div class="blog-content-wrap">
                  <a href="#" class="blog-title"></a>
                  <div class="blog-summary-wrap">
                    <div class="blog-listing w-richtext"></div>
                  </div>
                </div>
              </div>
              <div class="blog-border-line"></div>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mg-top-40">
      <div class="align-center">
        <a data-w-id="9f632a42-95a0-a6e5-1250-90ed404180e7" href="/blog/"
          class="dark-overlay-button w-inline-block">
          <div>More Blog</div>
          <div
            style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
            class="dark-button-hover"></div>
        </a>
      </div>
    </div>
  </div>
</div> -->
  <div class="image-section"></div>
  <div class="align-center" style="position: absolute;">
    <a
      data-w-id="9f632a42-95a0-a6e5-1250-90ed404180e7"
      target="_blank"
      href="https://cms.auxcgen.com/cms-alifsense-com/production/media/document-0c0f4bd0ebd7fd340d0d5e5b8db4a400.pdf"
      class="dark-overlay-button w-inline-block"
    >
      <div>Download Brochure</div>
      <div
        style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
        class="dark-button-hover"
      >
      </div>
    </a>
  </div>
  <div class="footer-section">
    <div class="footer-shade-bg"></div>

    <div class="container w-container">
      <div class="w-layout-grid footer-grid">
        <div
          id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed72-1185ed6e"
          data-w-id="1a03c1d7-10ce-f356-ab94-97121185ed72"
          class="footer-content-wrap"
        >
          <a
            id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed73-1185ed6e"
            href="/"
            aria-current="page"
            class="footer-logo-wrap f-logo w-inline-block w--current"
          >
            <img src="images/Logo.png" loading="lazy" alt="Logistics Logo" class="w-[7rem]" />
          </a>
          <div class="footer-content-block fb1">
            <p class="footer-text">
              To be the industry leader, globally recognized for effective &amp; efficient solutions. To provide
              innovative solutions delivering quality, excellence and speed.
            </p>
            <div class="footer-contact-link-wrap">
              <div class="header-link-card">
                <div class="header-icon-wrap">
                  <img src="images/mail-icon-yellow.svg" loading="lazy" alt="Mail Icon" />
                </div>
                <div>
                  <p class="header-link-text">Email</p>
                  <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">lisan@arjwanoman.com</a>
                  <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">adnan@arjwanoman.com</a>
                  <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">mohd@arjwanoman.com</a>
                </div>
              </div>
              <div class="header-link-card">
                <div class="header-icon-wrap">
                  <img src="images/phone-icon-yellow.svg" loading="lazy" alt="Phone Icon" />
                </div>
                <div>
                  <p class="header-link-text">Call Us</p>
                  <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113157</a>
                  <br />
                  <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113159</a>
                  <br />
                  <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113184</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed89-1185ed6e" class="footer-link-wrap">
          <div class="footer-title-wrap">
            <h3 class="footer-title">Pages</h3>
          </div>
          <div class="footer-link-block">
            <a href="/about-us/" class="footer-link">About Us</a>
            <a href="/contact-us/" class="footer-link">Contact</a>
            <a href="/service/" class="footer-link">Services</a>
            <a href="/gallery/" class="footer-link">Gallery</a>
          </div>
        </div>
        <!-- <div id="w-node-_1a03c1d7-10ce-f356-ab94-97121185ed9a-1185ed6e" class="footer-link-wrap">
        <div class="footer-title-wrap">
          <h3 class="footer-title">Utility</h3>
        </div>
        <div class="footer-link-block">
          <a href="/style-guide/" class="footer-link">Style Guide</a>
          <a href="/changelog/" class="footer-link">Changelog</a>
          <a href="/licenses/" class="footer-link">Licenses</a>
          <a href="https://Arjwan-template.webflow.io/401" class="footer-link">Protected</a>
          <a href="https://Arjwan-template.webflow.io/404" class="footer-link">Not Found</a>
        </div>
      </div> -->
        <!-- <div id="w-node-_1a03c1d7-10ce-f356-ab94-97121185edad-1185ed6e" data-w-id="1a03c1d7-10ce-f356-ab94-97121185edad"
        class="footer-form-wrapper">
        <div class="footer-title-wrap subscribe-title">
          <h3 class="footer-title">Subscribe</h3>
        </div>
        <div class="footer-form-block w-form">
          <form id="wf-form-Email-Form-1" name="wf-form-Email-Form-1" data-name="Email Form 1" method="get"
            class="footer-form-wrap" data-wf-page-id="656da3032bcd6c9f0a8040db"
            data-wf-element-id="1a03c1d7-10ce-f356-ab94-97121185edb2"><input type="email"
              class="footer-text-field w-input" maxlength="256" name="Footer-Email" data-name="Footer Email"
              placeholder="Email here*" id="Footer-Email" required="">
            <div class="footer-social-wrap"><input type="submit" value="Send Now" data-wait="Please wait..."
                class="primary-button w-button">
              <div class="footer-social-media-wrap">
                <a href="http://www.linkedin.com" target="_blank" class="social-media-link w-inline-block"><img
                    src="images/linkedIn-icon.svg" loading="lazy" alt="LinkedIn Icon" class="social-icon"></a>
                <a href="http://www.twitter.com" target="_blank" class="social-media-link w-inline-block"><img
                    src="images/twiter-icon.svg" loading="lazy" alt="Twitter Icon" class="social-icon"></a>
                <a href="http://www.facebook.com" target="_blank" class="social-media-link w-inline-block"><img
                    src="images/fb-icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon"></a>
              </div>
            </div>
          </form>victorflow
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div> -->
        <div
          id="w-node-_1a03c1d7-10ce-f356-ab94-97121185edad-1185ed6e"
          data-w-id="1a03c1d7-10ce-f356-ab94-97121185edad"
          class="footer-form-wrapper"
        >
          <div class="footer-title-wrap subscribe-title">
            <h3 class="footer-title">Address</h3>
          </div>
          <div class="footer-content-block">
            <p>Office No.51, 5th Floor</p>
            <p>Oman Arab Bank Buildings, Opp. Avenues Mall, Ghoubrah</p>
            <p>Muscat - Sultanate of Oman</p>
          </div>
          <div class="footer-content-block">
            <p>Al Arjwan Trading and Logistics Services co.</p>
            <p>Ajman Media Free zone</p>
            <p>Ajman - United Arab Emirates</p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-block">
      <div class="container w-container">
        <div data-w-id="1a03c1d7-10ce-f356-ab94-97121185edc5" class="copyright-wrap">
          <p class="copyright-text">
            Copyright © Arjwan Trading & Logistics Services | Powered by <a
              href="https://www.alifsense.com/"
              target="_blank"
              class="copyright-link"
              >Alifsense
            </a>

            <!-- <div class="page-link-wrap">
          <a href="/style-guide/" class="page-link">Style Guide</a>
          <a href="/licenses/" class="page-link">Licenses</a>
          <a href="/changelog/" class="page-link">Changelog</a>
          <a href="https://Arjwan-template.webflow.io/401" class="page-link">Password</a>
        </div> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
