<div class="contact-section">
  <!-- <div class="container w-container">
    <div class="w-layout-grid contact-grid">
      <div id="w-node-_8c82d05d-0ea1-2777-7b50-7ed99d0c6187-0a8040db">
        <div class="subtitle-wrap-transparent">
          <p class="subtitle-dark">Contact</p>
          <div class="subtitle-border"></div>
        </div>
        <h2 class="section-title text-white">Get in touch with us</h2>
        <p class="text-white">We appreciate your interest please complete the form below and we will contact you
          immediately to discuss your warehousing and distribution, air, ocean freight or any other logistics needs.
        </p>
        <div data-w-id="59283b6b-b8f7-72b7-b2f7-e2515c66b753"  class="home-contact-link-wrap">
          <div class="header-link-card">
            <div class="header-icon-wrap"><img src="images/mail-icon_1mail-icon.png" loading="lazy" alt="Mail Icon">
            </div>
            <div>
              <p class="header-link-text">Email</p>
              <a href="mailto:lisan@arjwanoman.com" class="header-link-text hover-yellow">info@arjwanoman.com</a>
            </div>
          </div>
          <div class="header-link-card">
            <div class="header-icon-wrap"><img src="images/Phone-icon_1Phone-icon.png" loading="lazy"
                alt="Phone Icon"></div>
            <div>
              <p class="header-link-text">Call Us</p>
              <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113157</a> <br>
              <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113159</a> <br>
              <a href="tel:(00)122456789" class="header-link-text hover-yellow">+968 71113184</a>
            </div>
          </div>
          <div class="header-link-card">
            <div class="header-icon-wrap"><img src="images/clock-icon_1clock-icon.png" loading="lazy"
                alt="Clock Icon"></div>
            <div>
              <p class="header-link-text">Mon - Thur 8AM - 6PM </p>
            </div>
          </div>
        </div>
      </div>
      <div id="w-node-ea9e92ac-2b03-b12c-9f0b-98de4c521332-0a8040db">
        <div class="w-form">
          <form method="get" name="email-form" data-name="Email Form" 
            data-w-id="7ce10f7b-78a2-c027-bbec-c5925ddcd9cc" id="email-form" class="contact-form"
            data-wf-page-id="656da3032bcd6c9f0a8040db" data-wf-element-id="7ce10f7b-78a2-c027-bbec-c5925ddcd9cc">
            <div class="contact-text-field-divider"><input type="text" class="contact-input-type w-input"
                maxlength="256" name="name" data-name="Name" placeholder="Your Name*" id="name"><input type="email"
                class="contact-input-type w-input" maxlength="256" name="email" data-name="Email"
                placeholder="Your Email*" id="email" required=""></div>
            <div class="contact-text-field-divider"><input type="text" class="contact-input-type w-input"
                maxlength="256" name="field" data-name="Field" placeholder="Phone Number*" id="field"
                required=""><input type="text" class="contact-input-type w-input" maxlength="256" name="field-2"
                data-name="Field 2" placeholder="City*" id="field-2" required=""></div><textarea
              placeholder="Your Message" maxlength="5000" id="field-3" name="field-3" data-name="field"
              class="contact-text-area w-input"></textarea><input type="submit" value="Submit Message"
              data-wait="Please wait..." class="primary-button w-button">
          </form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>

  </div> -->
  <div class="container w-container logo-container logo-container-1">
    <div class="slider">
      <div class="slide-track2">
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p1.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p2.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p3.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p4.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p5.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p6.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p7.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p8.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p9.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p10.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p11.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p12.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
        <div id="slide bg-red-500 w-node-_20256b02-62b6-9eaf-c8cd-fc6f984f297d-0a8040db" class="partners-card">
          <img src="images/partners/p13.png" loading="lazy" alt="Partners Logo" class="partners-logo" />
        </div>
      </div>
    </div>
  </div>
</div>
