<div class="features-section">
  <div class="features-bg">
    <div class="features-dark-bg"></div>
  </div>
  <div class="container-large w-container">
    <div>
      <div class="w-layout-grid features-grid">
        <div id="w-node-b1d53aee-a366-27d7-34e4-aafb93130932-0a8040db" class="features-image">
          <img src="images/pla3.webp" loading="lazy" width="1421" alt="Plane" />

          <div data-w-id="4b1c7fff-4080-3c6f-f427-4f2337e36b19" class="features-content-wrap">
            <img src="images/features-icon.svg" loading="lazy" alt="Flight Icon" />
            <h3 class="about-point">Moving your products across world</h3>
          </div>
        </div>
        <div id="w-node-_2a14f6eb-8a15-99ee-afab-c9ff00376b22-0a8040db">
          <div class="features-title-wrap">
            <div class="subtitle-wrap">
              <p class="subtitle">Why Choose</p>
              <div class="subtitle-border"></div>
            </div>
            <h2 class="section-title">We create an opportunity to reach business potential</h2>
            <div class="mg-top-20">
              <p>
                Logistics is a distinguished supply chain management firm which provides comprehensive solutions for
                warehousing, transportation and a host of logistics services.
              </p>
            </div>
          </div>
          <div class="features-icon-list">
            <div class="features-points-wrap">
              <div class="icon-wrap"><img src="images/box-icon.svg" loading="lazy" alt="Icon" /></div>
              <h3 class="features-point">Safe Package</h3>
            </div>
            <div class="features-points-wrap">
              <div class="icon-wrap"><img src="images/boat-icon.svg" loading="lazy" alt="Icon" /></div>
              <h3 class="features-point">Ship Everywere</h3>
            </div>
            <div class="features-points-wrap">
              <div class="icon-wrap"><img src="images/browse-icon.svg" loading="lazy" alt="Icon" /></div>
              <h3 class="features-point">Global Tracking</h3>
            </div>
            <div class="features-points-wrap">
              <div class="icon-wrap"><img src="images/headset-icon.svg" loading="lazy" alt="Icon" /></div>
              <h3 class="features-point">24/7 Support</h3>
            </div>
            <div class="features-points-wrap">
              <div class="icon-wrap"><img src="images/clock-icin.svg" loading="lazy" alt="Icon" /></div>
              <h3 class="features-point">In Time Delivery</h3>
            </div>
            <div class="features-points-wrap">
              <div class="icon-wrap"><img src="images/drum-icon.svg" loading="lazy" alt="Icon" /></div>
              <h3 class="features-point">Transparent Pricing</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
