<div class="image-section"></div>
<div class="align-center" style="position: absolute;">
  <a
    data-w-id="9f632a42-95a0-a6e5-1250-90ed404180e7"
    target="_blank"
    href="https://cms.alifsense.com/cms-alifsense-com/production/media/document-0c0f4bd0ebd7fd340d0d5e5b8db4a400.pdf"
    class="dark-overlay-button w-inline-block"
  >
    <div>Download Brochure</div>
    <div
      style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
      class="dark-button-hover"
    >
    </div>
  </a>
</div>
