<div class="service-section">
  <div class="container w-container container-s">
    <div class="service-whole-wrap">
      <div class="service-title-wrap">
        <div class="subtitle-wrap">
          <p class="subtitle">What We Do</p>
          <div class="subtitle-border"></div>
        </div>
        <h2 class="section-title">Safe &amp; Reliable Cargo Solutions</h2>
      </div>
      <div class="w-layout-grid service-grid">
        <div id="w-node-_061c2828-995f-0fab-d200-8f7a4cde8424-0a8040db" class="service-card">
          <div class="home-service-icon-wrap"><img src="images/ship-icon.svg" loading="lazy" alt="Boat Icon" /></div>
          <div class="service-line"></div>
          <div>
            <a href="/service-single/" class="service-title">Ship Agency & Husbandry Services</a>
            <div class="mg-top-10">
              <p>
                Wherever your cargo is going, we can arrange the shipment for you and remain competitive with the
                business market.
              </p>
            </div>
          </div>
        </div>
        <div id="w-node-_99ff713f-4a42-1b91-1897-8485340e4ac9-0a8040db" class="service-card">
          <div class="home-service-icon-wrap">
            <img src="images/warehouse-icon.svg" loading="lazy" alt="Boat Icon" />
          </div>
          <div class="service-line"></div>
          <div>
            <a href="/service-single/" class="service-title">Freight Forwarding</a>
            <div class="mg-top-10">
              <p>
                Your statement succinctly encapsulates the essence of your commitment to your clients and the broader
                impact of your services. It conveys a sense of dedication and responsibility, emphasizing the
                significance of the goods you handle.
              </p>
            </div>
          </div>
        </div>
        <div id="w-node-eb5d8dcf-c877-109a-0c1e-360896407207-0a8040db" class="service-card">
          <div class="home-service-icon-wrap">
            <img src="images/flight-icon.svg" loading="lazy" width="82" alt="Boat Icon" />
          </div>
          <div class="service-line"></div>
          <div>
            <a href="/service-single/" class="service-title">LCL Consolidation</a>
            <div class="mg-top-10">
              <p>
                Like skilled puzzle masters, we meticulously piece together perfect logistics solutions, ensuring
                seamless alignment to your needs. With a keen eye for detail and commitment to excellence, we optimize
                your supply chain, streamlining every process efficiently.
              </p>
            </div>
          </div>
        </div>
        <div id="w-node-_12ab821c-1333-46e4-d207-5423fdb43fa5-0a8040db" class="service-card">
          <div class="home-service-icon-wrap"><img src="images/van-icon.svg" loading="lazy" alt="Boat Icon" /></div>
          <div class="service-line"></div>
          <div>
            <a href="/service-single/" class="service-title">Land Transportation</a>
            <div class="mg-top-10">
              <p>
                We work close with strategic partners to ensure our domestic trucking offers clients everything they
                need in their place.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
