<div class="work-section">
  <div class="work-bg yellow-gradient"></div>
  <div class="container-large w-container">
    <div class="align-center">
      <h2 class="section-title">Transporting across the world</h2>
    </div>
    <div class="mg-top-30">
      <div class="w-layout-grid work-grid">
        <div id="w-node-d9a5ad58-057c-a763-bbe6-c17c9cb18fce-0a8040db" class="work-card">
          <div class="work-image-shade">
            <div class="work-text-wrap">
              <h3 class="work-card-title">Liquid Transportation</h3>
              <p class="work-text">Premium Tankers</p>
            </div>
          </div><img src="images/project-image-1.jpg" loading="lazy" width="603" alt="Transport Image" />
        </div>
        <div id="w-node-df616d07-63e8-a31f-b9bd-812958e0cd30-0a8040db" class="work-card">
          <div class="work-image-shade">
            <div class="work-text-wrap">
              <h3 class="work-card-title">Packing and Removal</h3>
              <p class="work-text">Warehouse Management</p>
            </div>
          </div><img
            src="images/project-image-2.webp"
            class="pack-img"
            loading="lazy"
            width="594"
            alt="Transport Image"
          />
        </div>
        <div id="w-node-f65af531-af57-e694-8a8a-bee06377622e-0a8040db" class="work-card">
          <div class="work-image-shade">
            <div class="work-text-wrap">
              <h3 class="work-card-title">Contract Logistics</h3>
              <p class="work-text">Road Transportation</p>
            </div>
          </div><img src="images/project-image-3.jpg" loading="lazy" width="534" alt="Transport Image" />
        </div>
        <div id="w-node-_006464a1-7164-3943-ef8f-ec192d1fdbb6-0a8040db" class="work-card">
          <div class="work-image-shade">
            <div class="work-text-wrap">
              <h3 class="work-card-title">Warehouse &amp; Distribution</h3>
              <p class="work-text">Large Warehouse</p>
            </div>
          </div><img src="images/project-image-4.jpg" loading="lazy" width="519" alt="Transport Image" />
        </div>
        <div id="w-node-_5bd0f6bf-80bf-3672-5655-2884de19a405-0a8040db" class="work-card">
          <div class="work-image-shade">
            <div class="work-text-wrap">
              <h3 class="work-card-title">Specialized Transport</h3>
              <p class="work-text">Ocean Transports</p>
            </div>
          </div><img src="images/project-image-5.jpg" loading="lazy" width="496" alt="Transport Image" />
        </div>
      </div>
    </div>
    <!-- <div class="mg-top-60">
        <div class="align-center">
          <a data-w-id="25461b7a-b71a-7f01-d198-7700f6ca7c49" href="/our-project/"
            class="dark-overlay-button w-inline-block">
            <div>More Work</div>
            <div
              style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
              class="dark-button-hover"></div>
          </a>
        </div>
      </div> -->
  </div>
</div>
